.Class {
    background-color: aquamarine;
    width: 150px;
}

.Ac1 {
    background-color: rgb(34, 182, 132);
    font-family: monospace;
}
.Ac1:hover {
    background-color: rgb(175, 175, 60);
    font-style: italic;
}
.Ac2 {
    background-color: rgb(154, 182, 132);
    font-family: monospace;
}
.Ac2:hover {
    background-color: rgb(175, 175, 60);
    font-style: italic;
}
.Ac3 {
    background-color: rgb(204, 182, 132);
    font-family: monospace;
}
.Ac3:hover {
    background-color: rgb(175, 175, 60);
    font-style: italic;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }